data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
.ipynb_checkpoints/frontprop_cnn-checkpoint.ipynb
.ipynb_checkpoints/frontprop_fast-checkpoint.ipynb
.ipynb_checkpoints/notes-checkpoint.md
.ipynb_checkpoints/sandpit-checkpoint.ipynb
mess/.ipynb_checkpoints/frontprop-checkpoint.ipynb
mess/.ipynb_checkpoints/mnist-checkpoint.ipynb

wandb/

venv*/

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/